@font-face {
  font-family: 'dancing-script';
  src: url(/assets/fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'fredericka-the-great';
  src: url(/assets/fonts/FrederickatheGreat-Regular.ttf);
}

.font-tasks {
  font-family: dancing-script;
}

.font-home {
  font-family: fredericka-the-great;
  color: white;
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0)) drop-shadow(1px 1px 1px rgb(39, 39, 39));
}

.body-bg-1 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
  background-size: 300% 300%;
  height: 100vh;
}

.body-bg-2 {
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
  height: 100vh;
}

.alert {
  position: fixed;
  bottom: 10%;
  left: 15%;
  width: 70%;
}

.active {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.inactive {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.link {
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.ask {
  color: white;
  font-weight: 600;
}

#btnAdd {
  position: fixed;
  bottom: 3%;
  right: 3%;
}

th {
  text-align: center;
}
td {
  vertical-align: middle;
}

.actionsTD {
  text-align: center;
}

.buttons-top {
  position: fixed;
  top: 3%;
  right: 3%;
}

.topMenu {
  cursor: pointer;
}

.editIpt {
  vertical-align: middle;
}

.taskTable {
  border-radius: 5px;
}

.red {
  color: rgb(33, 226, 178);
}
