.active {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.inactive {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.link {
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.ask {
  color: white;
  font-weight: 600;
}

#btnAdd {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

th,
td {
  text-align: center;
}

#btnLogout {
  position: fixed;
  top: 3%;
  right: 10%;
}
